<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.css" type="text/css" />
        <meta charset="utf-8" />
      
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!-- Javascript-->
        <script async src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script async type="text/javascript"> 
        $(function() {
            function invisibleMenu() {
                var now = 0;
                var pixels = 300;
                var opacity = -1;

                var move = function() {
                    now = $(window).scrollTop();
                    if (now > pixels && opacity !== 0)
                        opacity = 0;
                    else if (now < pixels){
                        // Depends on the position not if scrolls down or up
                        opacity = (1 - now/pixels);
                    }
                    $("div.navigation").css({"opacity": opacity});
                }
                $(window).scroll(move);
                move();
            }
            invisibleMenu();
          });
          </script> 
          {% endblock head %}
</head>

<body id="index" class="home">
    {% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li class="current"><a href="{{ SITEURL }}">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Tags</a> </li>
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
        </ol>
      </div>
    {% endblock navigation %}
        <header id="banner" class="body">
                <div class="banner"><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></div>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        {% endif %}
        </ul></nav><!-- /#menu -->
        <div class="box">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer id="contentinfo" class="footer">
                <div>
                    <a href="{{SITEURL}}">{{AUTHOR}}</a> (2012)
                </div>
                <div>
                    This work is licensed under <a rel="license" href="http://opensource.org/licenses/bsd-3-clause">3 clause BSD</a>. Source code available on <a rel="source code" href="https://github.com/slok/blog">Github</a>
                </div>
                <div>
                    powered by <a href="http://getpelican.com/">Pelican</a>
                    and <a href="http://python.org">Python</a>. 
                    <a href="http://github.com/slok/iris">Theme</a> by <a href="http://xlarrakoetxea.org">Xabier Larrakoetxea</a> based on <a href="http://flask.pocoo.org/">Flask</a> theme
                </div>
                <div>
                    Social icons (font awesome) by <a href="http://fortawesome.github.com/Font-Awesome/"> fort awesome</a>.
                    <a href="http://www.google.com/webfonts/specimen/The+Girl+Next+Door">Title</a>, <a href="http://www.google.com/webfonts/specimen/Marcellus">headers</a> and <a href="http://www.google.com/webfonts/specimen/Inconsolata">source code</a> fonts by google fonts
                </div>
                <div class="social">
                    {% for name, link in SOCIAL %}
                        <a href="{{ link }}"><i class="icon-{{ name }}"></i>  </a>
                    {% endfor %}
                    {% if EMAIL%}
                        <a href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i> </a>
                    {% endif %}
                </div>
            </footer><!-- /#contentinfo -->
        </div>
        <!--Add statistycs-->
        {% include 'analytics.html' %}
</body>
</html>
