{% extends "base.html" %}
{% block title %}{{ SITENAME }} tags{% endblock %}
{% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li><a href="{{ SITEURL }}">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li class="current"><a href="{{ SITEURL }}/tags.html">Tags</a> </li>
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
        </ol>
      </div>
    {% endblock navigation %}
{% block content %}
<h2>Tags:</h2>
<ul>
{% for tag, articles in tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endblock %}